@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

/*html {*/
/*    --color-main: #eedb00;*/
/*    --bg-color-grey: rgba(60, 69, 67, 0.6);*/
/*}*/

:root {
    --color-main: #eedb00;
    --bg-color-grey: rgba(60, 69, 67, 0.6);
    --bg-color-red: rgba(204, 3, 35, 0.5);
}

body {
    font-family: "Poller One", sans-serif;
    background-image: url("./assets/sky.jpg");
    color: var(--color-main);
    background-attachment: fixed;
}

header, footer {
    background-color: var(--bg-color-grey);
}

/* Header */

/* Main */

.float-start img {
    box-shadow: 0.6rem 0.6rem 0.6rem gray;
}

.far-galaxy {
    letter-spacing: 0.1em;
    text-align: justify;
}

.rounded-bottom-left {
    border-bottom-left-radius: 2.5rem;
}

.rounded-bottom-right {
    border-bottom-right-radius: 2.5rem;
}

/* Footer */

footer {
    height: 5rem;
}

/* Customizing */

.btn-danger {
    background-color: var(--bg-color-red);
    color: var(--color-main);
}